.container {
  max-width: 600px;
  margin: 0 auto;
  text-align: center;
  padding: 20px 0;
}
.text {
  font-size: 32px;
  font-style: italic;
  color: #471ca9;
  font-family: 'Montserrat';
}

.link {
  font-size: 32px;
  font-weight: 600;
  color: #471ca9;
  font-family: 'Montserrat';
}
